# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Env / secrets
.env
.env.local

# Node (si jamais)
node_modules/

# Netlify local state (contient le site ID)
.netlify/
.vercel
